{% extends 'base.html.twig' %}

{% block title %}New MenuLabel{% endblock %}

{% block main %}
    <div class="row">
        <h1 class="col">Create new MenuLabel</h1>
    </div>
    <div class="row buttons">
        <div class="col">
            <a class="btn btn-primary" href="{{ path('product_index') }}">{{'back'|trans}}</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ include('product/_form.html.twig') }}
        </div>
    </div>
{% endblock %}