{% extends 'base.html.twig' %}

{% block title %}Edit MenuLabel{% endblock %}

{% block main %}
    <h1>Edit MenuLabel</h1>

    {{ include('menu_label/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('homepage') }}">back to list</a>

    {{ include('menu_label/_delete_form.html.twig') }}
{% endblock %}